body {
  margin: 0;
  font-family: sans-serif;
}

.top-nav {
  display: flex;
  padding: 0px 100px 0px 100px;
  font-family: Arial, sans-serif;
  background-color: #87e0ef;
  align-items: center;
  justify-content: space-between;
}
.row-2nav {
  display: flex;
  align-items: baseline;
  gap: 50px;
}
.profile-container {
  display: flex;
  flex-direction: column;
}
.username {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}
.nav-links {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-links a:not(:last-child)::after {
  content: " | ";
  color: black;
}
.baseline-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  background-color: #778688ff;
}
.row-4baseline {
  display: flex;
  gap: 30px;
  color: black;
  font-weight: bold;
}

.notification-bar {
  display: flex;
  gap: 30px;
  text-decoration: none;
}
/*Main body */
.main-container {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  margin: 25px 100px 0px 100px;
  gap: 20px;
}

.search-row {
  background-color: lightgrey;
  width: 300px;
  height: auto;
  font-size: 12px;
}

.h1-list {
  background: #0dc2daff;
  margin: 0;
  color: white;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}

.search-li {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lists{
padding: 20px 5px 10px 20px;
}
.lists:hover {
  background-color: pink;
}

.icon {
  font-size: 14px;
  color: #999;
  margin-left: 0px;
  float: right;
  cursor: pointer;
}

.icon:hover {
  color: #00bcd4;
}

.search-li {
  list-style: none;
  padding: 0;
}
.video-tutorials {
  background-color: lightgrey;
  width: 250px;
  border: 1px solid #ddd;
}
.tutorials-list {
  list-style: none;

  padding: 0;
  width: 250px;
  font-size: 12px;
}

/*Middle  body container */
.entries {
  width: 1200px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.footer-lists{
  background-color: grey;
  margin-top: 10px;
  display: flex;
  height: 20px;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;

}
.footerlink-lists{
  padding: 10px 100px 10px 100px;

}
.footerlinks{
  list-style: disc; /* Or circle, square, etc. for bullet type */
   padding: 0;
   margin: 0;
   display: flex; /* Use flexbox for horizontal layout */
    gap: 40px;
}
 ul li:first-child {
      list-style-type: none; /* Remove bullet for the first item */
    }

